* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


body {
    background: url(./public/BG.jpg) top center #121214;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    margin: 32px 0 0 0;
    height: 120px;
       
}
header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #002290 0%, #ff2020 50%, #fced5f 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

.accName{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    color: white;
    font-size: 20px;
}
header div:hover{
    transform: scale(1.1);
}

header img {
        width: 100%;
        border-radius: 50%;
}


main {
    max-width: 580px;
    width: 90%;
    margin: 10px auto;
    height: 90%;
    display: grid;
    gap: 24px;
    
}


/* Mantidas caso seja necesario analise */
/* main * {
    border: 1px solid red;
} */

section {
    color: white;
    background-image: linear-gradient(90deg, #002290 0%, #ff2020 50%, #fced5f 100%);
    padding: 8px 0 0 0;
    border-radius: 20px;
}
section ul {
    margin: 24px 0 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

section ul li{
    transition: transform .3s;
}
section ul li:hover{
    transform: scale(1.1);
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
section div {
    background-color: #2A2634;
    padding: 24px 32px 32px 32px;
    border-radius: 16px;
}

.movie-list img {
    height: 120px;
    width: 90px;
    border-radius: 12px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54 ;
}

/* Animation Example*/


header div {
    animation: fromTop .9s backwards;

}
/* main section {
    animation: toTop .7s backwards;
} */

main section:nth-child(1){
    animation: toRight 1.1s backwards;
    animation-delay: 0s;
}
main section:nth-child(2){
    animation: toLeft 1.1s backwards;
    animation-delay: 0.4s;
}
main section:nth-child(3){
    animation: toTop 1.1s backwards;
    animation-delay: 0.8s;
}

.accName {
    animation: fromTop .7s backwards;
}
/* Animação mais rápida */
/* main section:nth-child(1){
    animation: toTop .7s;
}
main section:nth-child(2){
    animation: toTop 1.1s;
}
main section:nth-child(3){
    animation: toTop 1.5s;
} */

@keyframes fromTop{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toTop {
    from {
        opacity: 0;
        transform: translateY(500px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes toLeft {
    from {
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes toRight {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }

}